<!DOCTYPE html>
<html>
   <head>
      <title>foot</title>
      <link rel="stylesheet" type="text/css" href="../css/foot.css">
   </head>
<body>
   	<div id="foot">
   		<div class="divfoot">
			<span class="spanfoot">Servicios</span></br>
   			<a href="../sabias.html#sabias"  target="_parent" class="enlacefoot">¿Sabías qué?</a></br>
   			<a href="../relleno.html#relleno" target="_parent" class="enlacefoot">El relleno sanitario de doña Juana</a></br>
   			<a href="../clasificacion.html#clasificacion#clasificacion" target="_parent" class="enlacefoot">¿Cómo se clasifica la basura?</a></br>
   			<a href="../relleno.html#relleno#ambiente" target="_parent" class="enlacefoot">El medio ambiente</a>	

   		</div>
		<div class="divfoot">
   			<span class="spanfoot">Contáctanos</span></br>
   			<a href="../contact.html#contact" class="enlacefoot" target="_blank">Contáctanos</a></br>

   	</div>
   		<div class="divfoot">
   			<span class="spanfoot">Síguenos</span></br>
   			<a href="https://www.facebook.com/" class="enlacefoot" target="_blank">Facebook</a></br>
   			<a href="https://twitter.com/?lang=es" class="enlacefoot" target="_blank">Twitter</a></br>
   			<a href="https://www.pinterest.es/" class="enlacefoot" target="_blank">Pinterest</a>
   	</div>
</body>
</html>
