<!DOCTYPE.html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/head.css">
	</head>
<body>
		<div id="banner">
		<center>
			<h1>
				<span id="ayudemos">¡Ayudemos al planeta!</span>
			</h1>
		
	  		<h3>Lleva la basura al lugar indicado</h3>
	  	</div>
	  	<div id="nav">
			<a href="../index.html#inicio" target="_parent" class="cuadro">Inicio</a> 
			<a href="../index.html#misión" target="_parent" class="cuadro">Misión</a> 
			<a href="../index.html#visión" target="_parent" class="cuadro">Visión</a>
			<a href="../index.html#nosotros" target="_parent" class="cuadro">Sobre nosotros</a>
			<a href="../index.html#conciencia" target="_parent" class="cuadro">Toma conciencia</a>
		</div>
</body>
</html>
